{% extends "base.html" %}
{% load leaflet_tags %}
{% block extra_head %}
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <style>
        .leaflet-container { height: 100%; }
    </style>
{% endblock extra_head %}
{% block content %}
    <h1>Locations</h1>
    {% leaflet_map "main" callback="main_map_init" %}

    <script type="text/javascript">
         function onEachFeature(feature, layer) {
            //if (feature.properties && feature.properties.popupContent) {
            layer.bindPopup(feature.properties.name);
            //}
          }

        function main_map_init (map, options) {
            var dataurl = '{% url "data" %}';
            // Download GeoJSON via Ajax
            $.getJSON(dataurl, function (data) {
                // Add GeoJSON layer
                L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
            });

        }
    </script>
{% endblock content %}
